body {
    background-color: cadetblue;
    overflow: hidden;
}

.pig {
    width: 12em;
    filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.6));
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-6px); }
  50%  { transform: translateX(6px); }
  75%  { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

#pig4:hover {
    cursor: not-allowed;
}

#pig4:active {
    display: inline-block;
    animation: shake 0.36s linear 3;
}

#upper-box {
    margin: auto;
    height: 60vh;
    border: red 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#animation {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(21, 255, 0) 3px dotted;
    z-index: 2;
}

#text-box {
    position: absolute;
    align-self: center;
    height: 20%;
    width: 80%;
    z-index: 3;
    border: rgb(234, 0, 255) 3px dotted;
    bottom: 10%;
}


#lower-box {
    margin: auto;
    margin-top: 1em;
    height: 35vh;
    border: blue 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lower-box-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

#next-arrow {
    width: 4em;
    position: absolute;
    left: 80vw;


}

#walkPig {
    width: 5em;
    height: 10em;
    border: black 1px dashed;
    margin: 3%;
    z-index: 3;
}

#walkPig img {
    transform: scaleX(-1);
    position: relative;
    right:70%;
}

