/* testing cursor */
/* html:hover {
    cursor: url(../imgs/paw.svg) 12 12, auto;
} */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


/* color variables */
:root {
    --text-blue: hsl(250, 85%, 45%);
    --accent-pink: hsl(323, 52%, 95%);
    --dark-pink-lowop: hsl(321, 50%, 10%, 60%);
    --dark-pink: hsl(321, 50%, 10%);
    --inactive-grey: hsl(323, 2%, 90%);
    --inactive-bar: hsl(300, 1%, 86%);
    --active-blue: hsl(214,73%,85%);
    --active-pink: hsl(321, 50%, 90%);

}
.darker {
    color: var(--dark-pink);
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    /* background: repeat-y center/100% url("../imgs/pastel-city-bg.svg"); */
    background: repeat-y center/100% url("../imgs/pastel-city-edited.svg");

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Jersey 10", sans-serif;
    color: var(--text-blue);
    /* cursor: url(../imgs/pig-cursor-default.svg), auto; */
}
#background {
    width: 80vw;
    height: 100vh;
}
#taskbar {
    width: 80vw;
    height: 40px;
    background-color: var(--accent-pink);
    z-index: 3;
    border-top: white 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#taskbar-left {
    display: flex;
    align-items: center;
}

#taskbar-left img.pig-icon {
    width:40px;
}

#taskbar-right {
    display: flex;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
}


#taskbar-right img {
    width:32px;
}

#taskbar-right img:hover {
    cursor: pointer;
}

#date-time {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

#date-time:hover {
    cursor: default;
}
.start-button {
    height: 25px;
    width: fit-content;
    background-color: var(--accent-pink);
    border-top: 1px white solid;
    border-left: 1px white solid;
    border-right: 1px var(--dark-pink-lowop) solid;
    border-bottom: 1px var(--dark-pink-lowop) solid;
    z-index: 4;
    padding: 0px 10px;
    margin-left: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.start-button img {
    width: 20px;
}

.start-button:not(.divider):hover {
   cursor: pointer;
}

.start-button:not(.divider):active {
    border-bottom: 1px white solid;
    border-right: 1px white solid;
    border-left: 1px var(--dark-pink-lowop) solid;
    border-top: 1px var(--dark-pink-lowop) solid;
}

#divider {
    display: none;
    width: 3px;
    padding: 0;
}

#divider:hover {
    cursor:default;
}

#straw-button {
    display: none;
}

#stick-button {
    display: none;
}

#brick-button {
    display: none;
}

.task-button {
    height: 25px;
    width: fit-content;
    background-color: hsl(323, 52%, 95%);
    border-bottom: 1px white solid;
    border-right: 1px white solid;
    border-left: 1px var(--dark-pink-lowop) solid;
    border-top: 1px var(--dark-pink-lowop) solid;
    z-index: 4;
    padding: 0px 10px;
    padding-right: 20px;
    margin-left: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.task-button img {
    width: 20px;
}

.task-button:hover {
    border-top: 1px white solid;
    border-left: 1px white solid;
    border-right: 1px var(--dark-pink-lowop) solid;
    border-bottom: 1px var(--dark-pink-lowop) solid;
    cursor: pointer;
}

.task-button:active {
    border-bottom: 1px white solid;
    border-right: 1px white solid;
    border-left: 1px var(--dark-pink-lowop) solid;
    border-top: 1px var(--dark-pink-lowop) solid;
}

.flowers {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 2;
}

.solid-bg {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: hsl(321, 50%, 90%);
}

#desktop {
    position: absolute;
    top:0;
    width: 80vw;
    /* vh-taskbar */
    height: calc(100vh - 42px); 
    /* border: red 2px dotted; */
    z-index: 2;
}

.window {
    width: 35vw;
    height: 40vh;
    background-color: var(--inactive-grey);
    outline: var(--text-blue) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window.active {
    background-color: var(--active-blue);
}

#one {
    position: absolute;
    top: 5%;
    left: 2%;
    display: none;
}

#two {
    position: absolute;
    top: 15%;
    left: 40%;
    display: none;
}

#three {
    position: absolute;
    top: 40%;
    left: 10%;
    display: none;
}

#four {
    position: absolute;
    top: 55%;
    left: 50%;
    display: none;
}

.window-bar {
    width: 96%;
    height: 15px;
    outline: var(--text-blue) 1px solid;
    background-color: var(--inactive-bar);
    margin: 1%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.active > .window-bar {
    background-color: var(--active-pink);
    z-index: 1000;
}


.square {
    width: 10px;
    height: 0;
    padding-bottom: 10px;
    background-color: var(--text-blue);
}

.window-bar-left {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.window-bar-right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.window-bar-right img {
    width: 10px;
}

.window-bar-right img:hover {
    cursor: not-allowed;
}

.window-bar-right img:active{
    animation: shake .2s linear 1;
} 

.hint {
    font-size: .8em;
    margin-left: 2%;
}

.start {
    width: 96%;
    height: 85%;
    background-color: rgb(92, 180, 77); /*fallback background */
    background-image: url("../imgs/grass-tile.png");
    background-size: 30%;
    background-repeat: repeat;
    background-blend-mode: add;
    outline: var(--text-blue) 1px solid;
    padding: 0 5px;
    overflow: scroll;
    /* scrollbar-color: red orange; */
    scrollbar-width: none;
    /* cursor: url(../imgs/pig-cursor-default.svg), auto; */
}



.straw {
    width: 96%;
    height: 85%;
    outline: var(--text-blue) 1px solid;
    padding: 0 5px;
    background-color: bisque;
    cursor: url(../imgs/pig-cursor-default.svg), auto;
    background-image: url("../imgs/grass-tile.png");
    background-size: 30%;
    background-repeat: repeat;
    overflow: scroll;
    display: flex;
    align-items: center;
}

.straw::-webkit-scrollbar {
  display: none;
}




.stick {
    width: 96%;
    height: 85%;
    outline: var(--text-blue) 1px solid;
    padding: 0 5px;
    background-color: bisque;
    cursor: url(../imgs/pig-cursor-default.svg), auto;
    background-image: url("../imgs/grass-tile.png");
    background-size: 30%;
    background-repeat: repeat;
    overflow: scroll;
    display: flex;
    justify-content: center;
}

.stick::-webkit-scrollbar {
  display: none;
}



.brick {
    width: 96%;
    height: 85%;
    outline: var(--text-blue) 1px solid;
    background-color: var(--inactive-bar);
    padding: 0 5px;
     background-color: bisque;
    cursor: url(../imgs/pig-cursor-default.svg), auto;
    background-image: url("../imgs/grass-tile.png");
    background-size: 30%;
    background-repeat: repeat;
    overflow: scroll;
    align-items: center;
}

.brick::-webkit-scrollbar {
  display: none;
}



.pig {
    width: 5em;
    filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.6));
    z-index: 20;
}

.error:active{
    animation: shake .2s linear 1;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-6px); }
  50%  { transform: translateX(6px); }
  75%  { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

#pig4:hover {
    cursor: not-allowed;
}

#pig4:active {
    display: inline-block;
    animation: shake 0.36s linear 1;
}

#upper-box {
    margin: auto;
    height: 60%;
    /* border: red 3px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#animation {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: rgb(21, 255, 0) 3px dotted; */
    z-index: 2;
}

#text-box {
    position: absolute;
    align-self: center;
    height: 20%;
    width: 80%;
    z-index: 3;
    /* border: rgb(234, 0, 255) 3px dotted; */
    bottom: 10%;
}


#lower-box {
    margin: auto;
    margin-top: 1em;
    height: 20%;
    /* border: blue 3px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lower-box-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;
    width: 100%;
}

#pigPosition {
    position: relative;
    z-index: 5; 
}

#next-arrow {
    width: 2em;
    position: absolute;
    right: 5%;
    top: 5%;
    display: none;
    z-index: 3;
}

#walkPig {
    width: 5em;
    height: 2em;
    /* border: black 1px dashed; */
    margin: 3%;
    margin-bottom: 5%;
    z-index: 3;
    display: flex;
    align-items: center;
}

#walkPig img {
    transform: scaleX(-1);
    position: relative;
    left: -25%;
    bottom: 80%;
} 

.pig-container {
    width: 50px;
    height: inherit;
    background-color: rgba(152, 137, 88);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    /* margin-left: 50%; */

}

.slider {
  appearance: none;
  width: 50%;
  height: 3px;
  background: var(--accent-pink);
  outline: none;
  border: .8px solid var(--dark-pink);
  margin-top: 10px;
  margin-bottom: 10px;
  /* border-radius: 8px; */
}


/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 10px;
  background: var(--active-blue);
  cursor: pointer;
  border: .8px solid var(--dark-pink);
  border-radius: 4px;
}


