body {
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-container {
    margin-top: 5%;
}

button {
    background-color: rgb(125, 111, 92);
    border: rgb(71, 49, 34) 3px solid;
    color: rgb(248, 243, 233);
    padding: 8px 20px;
}

