body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vw;
  padding: 0;
  gap: 3vh;
  font-family: PexicoMicro-Regular, sans-serif;
  overflow: hidden;
  background-color: rgb(19, 19, 19);
}

@font-face {
  font-family: "PexicoMicro-Regular";
  src: url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.eot");
  src: url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.svg#PexicoMicro-Regular") format("svg");
}

.moon {
  width: 70px;
}

.star {
  width: 70px;
}


#wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  background-color: black;
  overflow: hidden;
  border: #52fe6f 8px solid;
  box-shadow: #218231b3 0 20px 50px;
}

/* .hour-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline: rgba(255, 255, 0, .3) 1px dotted;
    position: absolute;
    z-index: 1;
} */


#moon-container {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
}

#moon-container img {
  opacity: 0.7;
}


.pos12 {
  left: 45.7%;
  display: none;
}

.pos1 {
  right: 22.7%;
  top: 6%;
  display: none;
}

.pos2 {
  right: 6%;
  top: 22.7%;
  display: none;
}

.pos3 {
  right: 0;
  top: 45.7%;
  display: none;
}

.pos4 {
  right: 6%;
  bottom: 22.7%;
  display: none;
}

.pos5 {
  right: 22.7%;
  bottom: 6%;
  display: none;
}

.pos6 {
  left: 45.7%;
  bottom: 0;
  display: none;
}

.pos7 {
  left: 22.7%;
  bottom: 6%;
  display: none;
}

.pos8 {
  left: 6%;
  bottom: 22.7%;
  display: none;
}

.pos9 {
  left: 0;
  top: 45.7%;
  display: none;
}

.pos10 {
  left: 6%;
  top: 22.7%;
  display: none;
}

.pos11 {
  left: 22.7%;
  top: 6%;
  display: none;
}

#minutes-rocket {
  position: absolute;
  top: 10px;
  left: 140px;
  z-index: 3;
}

#minutes-rocket img {
  width: 45px;
}

#star-container {
  position: absolute;
  z-index: 2;
  /* border: red 1px solid; */
  width: 98.5%;
  height: 0;
  padding-bottom: 98.5%;
  margin: .5%;
}

#button-container {
  display: flex;
  gap: 2em;
}


h1 {
  text-align: center;
  font-size: 1em;
  color: #52fe6f;
  z-index: 5;
  background-color: rgb(14, 14, 14);
  padding: 6px 12px;
  border: rgb(255, 255, 255) 2px dotted;
}

h1:hover {
  color: #8df99f;
}

h1:active {
  color: white;
}

.background-1 {
  position: absolute;
  z-index: 0;
  width: inherit;
  /* top: 20vh;
    left: 25vw; */
  opacity: .05;
}