#collision-bool-container {
    width: 180px;
}

#main-content {
    justify-content: left;
}

#box {
    width: 100px;
    height: 100px;
}

#goal {
    width: 95px;
    height: 95px;
    outline: rgb(60, 39, 254) 4px dashed;
    z-index: 10;
    margin-left: auto;
    pointer-events: none;
    margin-right: 4px;
}

.visibility {
    display: none;
}

.prey {
    background-color: #e500a4c0;
}

.hunter {
    /* position: absolute; */
    background-color: #18f400c0;
    left: -100px;
}

.chase {
    animation: chase 7s 1 linear forwards;
}

.run {
    animation: run 5s 1 linear forwards;
    animation-play-state: paused;
}
.run:hover {
    animation-play-state: running;
}

@keyframes chase {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(calc(80vw - 203px));
    }
}


@keyframes run {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(80vw - 202px));
    }
}

@keyframes zig-zag-h {
    0% {
        transform: translateX(-300px);
    }
    20%{
        transform: translateX(0);
    }
    25% {
        transform: translate(calc(20vw - 200px), 31vh);
    }
    50% {
        transform: translate(calc(40vw - 200px), -31vh);
    }
    75% {
        transform: translate(calc(60vw - 200px), 31vh);
    }
    100% {
        transform: translateX(calc(80vw - 203px));
    }
}

@keyframes zig-zag-p {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translate(calc(20vw - 200px), 31vh);
    }
    50% {
        transform: translate(calc(40vw - 200px), -31vh);
    }
    75% {
        transform: translate(calc(60vw - 200px), 31vh);
    }
    100% {
        transform: translateX(calc(80vw - 202px));
    }
}

.zig-zag-h {
    animation: zig-zag-h 11s 1 ease-in-out forwards;
}

.zig-zag-p {
    animation: zig-zag-p 7.5s 1 linear forwards;
    animation-play-state: paused;
}

.zig-zag-p:hover {
    animation-play-state: running;
}

.grey {
    pointer-events: none;
    background-color: rgb(111, 111, 111);
    border-color: rgb(59, 59, 59);
    color: rgb(0, 0, 0);
}
