body {
    background-color: cadetblue;
}

button {
    background-color: rgb(0, 104, 181);
    border: rgb(0, 104, 181) 1px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color: rgb(191, 210, 234);
    border: rgb(0, 104, 181) 1px solid;
    color: rgb(5, 76, 130);
}

h4:hover {
    cursor: pointer;
}

p:hover {
    cursor: pointer;
}

h1:hover {
    cursor:not-allowed;
}